/* Global CSS Variables */

html {
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    height: inherit;
    font-family: monospace;
}

#root {
    height: inherit;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    border-width: 0;
}
